.container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 10vh;
    min-width: 75vw;
    background-color: white;
    border-radius: 20px;
}

.search{
    display: inline-block;

}